@font-face {font-family:ShinMaruGo;src:url(/assets/ShinMaruGo.otf) format("opentype");}
html,body {margin:0;padding:0;width:100%;height:100%;overflow:hidden;}
main {background:#44AEF3;position:relative;width:100%;height:100%;font-family:ShinMaruGo;}
header {background:#F9FAFC;position:absolute;z-index:4;box-shadow:0 0 1vh rgba(0,0,0,0.5);top:0;width:100%;height:9vh;}
video {position:absolute;object-fit:cover;object-position:25%;z-index:0;bottom:0;width:100vmax;height:100%;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}
.title {color:#304E72;position:absolute;font-size:calc(9vh/2);overflow:hidden;top:calc(3vh/2);bottom:0;left:20vh;margin:auto;}
.back {background:#466398;color:#F9FAFC;position:absolute;border-radius:50%;font-size:calc(9vh/2);top:calc(9vh/2);left:calc(9vh/2);width:9vh;height:9vh;display:flex;justify-content:center;align-items:center;text-align:center;}
.head {position:absolute;z-index:3;box-shadow:0 0 1vh rgba(0,0,0,0.5);border-radius:50%;font-size:calc(9vh/2);top:calc(9vh/2);left:calc(9vh/2);width:9vh;height:9vh;display:flex;justify-content:center;align-items:center;text-align:center;}
.cnpX,.cnpM {position:absolute;z-index:2;top:9vh;bottom:0;right:10%;margin:auto;width:80vmin;height:calc(100vmin/3*2);display:grid;grid-template-columns:repeat(18,1fr);grid-template-rows:repeat(5,1fr);grid-column-gap:0;grid-row-gap:0;transform:skewX(-10deg);}
.cnpL {font-size:5vmin;padding:0 3vmin;}
.cnpS {font-size:calc(5vmin/2);padding:0 calc(3vmin/2);}
.cnpS.cnp6 {line-height:1;padding-top:2vmin;}
.cnp0 {grid-area:1/1/3/10;}
.cnp1 {grid-area:1/10/3/19;}
.cnp2 {grid-area:3/1/4/7;}
.cnp3 {grid-area:4/1/5/7;}
.cnp4 {grid-area:5/1/6/7;}
.cnp5 {grid-area:3/7/5/11;}
.cnp6 {grid-area:3/11/5/15;}
.cnp7 {grid-area:3/15/5/19;}
.cnp8 {grid-area:5/7/6/13;}
.cnp9 {grid-area:5/13/6/19;}
.cnpM * {background:linear-gradient(180deg,rgba(255,255,255,0.75),transparent);color:#466398;text-shadow:0 0 1vmin rgba(255,255,255,1);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;border-radius:1vmin;margin:1vmin;}
.cnpX * {position:relative;box-shadow:0.5vmin 0.5vmin 0.5vmin rgba(0,0,0,0.5);overflow:hidden;border-radius:1vmin;margin:1vmin;}
div img {position:absolute;object-fit:cover;top:-1.25vmin;left:-3vmin;margin:0;width:calc(100% + 4vmin);height:calc(100% + 0.5vmin);transform:skewX(10deg);display:flex;justify-content:center;align-items:center;}
@media (orientation:portrait) {.cnpX,.cnpM {margin-bottom:5vmin;}}